@font-face {
  font-family: 'circe';
  src: url('../fonts/Circe-Bold.woff');
  font-weight: 700;
}

@font-face {
  font-family: 'circe';
  src: url('../fonts/Circe-Light.woff');
  font-weight: 300;
}

@font-face {
  font-family: 'circe';
  src: url('../fonts/Circe-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'robotoSlab';
  src: url('../fonts/RobotoSlab-Bold.ttf');
  font-weight: 700;
}